@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

$white: #fff;
$ice-blue: #74EBD5;
$purple: #9FACE6;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: $white;
  background-color: $ice-blue;
  background-image: linear-gradient(90deg, $ice-blue 0%, $purple 100%);
}

main {
  max-width: 1080px;
  margin: auto 10%;
  padding: auto 1rem;
}