@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@import './variables.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: $black;
  background-color: $ice-blue;
  background-image: linear-gradient(90deg, $ice-blue 0%, $purple 100%);
}